aiohttp
aiosignal
asgiref
async-timeout
attrs
blinker
CacheControl
cachy
certifi
channels
chardet
charset-normalizer
cleo
click
clikit
crashtest
cryptography
distlib
distro
distro-info
dj-database-url
Django
django-cors-headers

django-filter
django-mama-cas
django-nextjs
django-rest-framework
djangorestframework
filelock
Flask
frozenlist
gunicorn
html5lib
httplib2
idna
importlib-metadata
itsdangerous
jeepney
Jinja2
keyring
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
Markdown
MarkupSafe
more-itertools
msgpack
multidict
netifaces
oauthlib
packaging
pastel
pexpect
pkginfo
platformdirs
poetry
poetry-core
psycopg2-binary
ptyprocess
PyGObject
PyJWT
pylev
pyparsing
pytz
PyYAML
requests
requests-toolbelt
SecretStorage
sheetsu
shellingham
six
sqlparse
systemd-python
tomlkit
typing_extensions
ubuntu-advantage-tools
ufw
unattended-upgrades
urllib3
virtualenv
wadllib
webencodings
websockets
Werkzeug
whitenoise
yarl
zipp
